{% extends 'base.html'%}
{% load static %}



{% block content %}
<style>
  /* CSS to set fixed font size for table */
  .table th {
      font-size: 13px;
  }

  /* Prevent wrapping for service name */
  .service-name {
      white-space: nowrap;
  }

  @media screen and (max-width: 768px) {
      /* Adjust font size for medium screens */
      .table th {
          font-size: 9px;
      }

      .service-name{
        font-size: 12px;
      }
  }

  </style>





<div class="container container-fluid   custom-min-vh">
 
    <h1 class="text-center">All Order</h1>

      {% if all_orders %}
     
      <table class="table">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Service Image</th>
            <th scope="col">Service Name</th>

            <th scope="col"> Quantity</th>
            <th scope="col">Amount</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for order in all_orders%}
          <tr>
           <td>{{order.user.username}}</td>
            <td><img src="{{ order.service.image.url }}" height="150" width="150" alt="{{ order.service.service_name }}" class="img-fluid "></td>
            <td class="service-name">{{order.service.service_name}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.total_amount}}</td>
            <td>{{order.status}}</td>
            <td>
             <form method="POST" action="{% url 'approve_order' order.id%}" >
              {% csrf_token%}
              {% if order.status == 'PENDING' %}
              <button type="submit" class=" btn btn-success">Approve</button>
              {% elif order.status == 'APPROVED' %}
              <button type="button" class="btn btn-success" disabled>Approved</button>
              {% elif order.status == 'CANCELLED' %}
               <button type="submit"  class=" btn btn-info btn-sm ">Re-Approve</button>
               {% endif %}
             </form>
             {% if order.status == 'PENDING' %}
             <form method="POST" action="{% url 'cancel_order' order.id%}" class="mt-2">
              {% csrf_token%}
              <button type="submit"  class="btn btn-danger">Cancel</button>
             {% endif %}
             </form>
         
            </td>
          </tr>
         
          {% endfor %}
        </tbody>
      </table>
    
   

    {% else %}
    <p class="text-center">No orders found.</p>
{% endif %}
</div>    




{% endblock %}



