asgiref
crispy-bootstrap5
dj-database-url
asgiref
crispy-bootstrap5
dj-database-url
Django
django-braces
django-crispy-forms
django-environ
django-jquery
django-model-utils
django-star-ratings
django-static-jquery
pillow
psycopg2
sqlparse
swapper
typing_extensions
tzdata