<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Already in Cart</title>
</head>
<body>
    <p>Hello {{ user.username }},</p>
    <p>The item {{ service_name }} is already in your cart. You have added it again.</p>
    
    <p>If you have any questions, feel free to contact us.</p>

    <p>Thank you for using our service!</p>
    <p>Best regards,</p>
    <p>From,Home Services</p>
</body>
</html>
