{% extends 'base.html' %}

{% block content %}
  <h2>{{ category.name }} Services</h2>
  <div class="row container container-fluid">
    {% for service in services %}
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="{{ service.image.url }}" class="card-img-top" alt="{{ service.service_name }}">
          <div class="card-body">
            <h5 class="card-title">{{ service.service_name }}</h5>
            <p class="card-text">{{ service.description }}</p>
            <p class="card-text">Original Price: ${{ service.original_price }}</p>
            <p class="card-text">Selling Price: ${{ service.selling_price }}</p>
           

            <!-- Add to Cart Button -->
            <form method="post" action="{% url 'add_to_cart' service.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
