{% extends 'base.html'%}
{% load static %}
 <!-- custom css -->
 <link rel="stylesheet" href="{% static 'index.css' %}"/>

{% block content %}
<!-- custom css -->
<link rel="stylesheet" href="{% static 'detail_1.css' %}"/>



{% if form.errors %}
    <div class="alert alert-danger">
        {% for field, errors in form.errors.items %}
            <strong>{{ field|title }}:</strong>
            {{ errors|join:", " }}
        {% endfor %}
    </div>
{% endif %}


<section>

    <div class="container">
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-6">
                    <article class="gallary-wrap">
                        <div class="img-big-wrap">

                            <a href=""> <img class="w-100" src="{{service.image.url}}"> </a>

                        </div>


                    </article>
                </aside>
                <!-- image pART END -->

                <main class=" col-md-6 border-left">

                    <form action="" method="POST">
                        {% csrf_token%}
                        <article class="content-body">

                            <h4 class="title mt-2"> <strong>Service Name:</strong>{{service.service_name}}</h4>

                           

                            <div class="mb-3">
                                <var class="price h4"><strong>Original Price :</strong>${{service.original_price}}
                                </var>
                            </div>
                            <div class="mb-3">
                                <var class="price h4"> <strong>Selling Price :</strong>${{service.selling_price}} </var>
                            </div>
                            <p><strong>Descripton</strong> {{service.description}}</p>

                             <!-- star -->
                             <div class="rating-star">
                                <span>
                                    <i class="fa fa-star{% if service.averageReview < 0.5%}-o{%elif service.averageReview >= 0.5 and  service.averageReview < 1 %}-half-o {%endif%}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if service.averageReview < 1.5%}-o{%elif service.averageReview >= 1.5 and  service.averageReview < 2 %}-half-o {%endif%}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if service.averageReview < 2.5%}-o{%elif service.averageReview >= 2.5 and  service.averageReview < 3 %}-half-o {%endif%}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if service.averageReview < 3.5%}-o{%elif service.averageReview >= 3.5 and  service.averageReview < 4 %}-half-o {%endif%}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if service.averageReview < 4.5%}-o{%elif service.averageReview >= 4.5 and  service.averageReview < 5 %}-half-o {%endif%}"
                                        aria-hidden="true"></i>
                                </span>

                                <span>{{service.CountReview}} Reviews</span>
                            </div>
                            <!-- star -->

                            <hr>
                            <button type="submit" class="btn btn-primary"> <span class="text">Add to cart</span><i
                                    class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                        </article>
                    </form>


                </main>




            </div>


            <br>
            <div class="row">

                <div class="col-md-9">
                    <form action="{% url 'update_review' id=review.id %}" method="POST">
                        {% csrf_token%}
                        <h5>Write Your Review</h5>
                        <div>
                            <!-- rating start -->
                            <label>What do you rate this Service</label>
                            <br>
                          
                            <div class="rate">
                                <input type="radio" name="rating" id="rating10" value="5"  {% if form.initial.rating == 5 %}checked{% endif %} required><label for="rating10"
                                    titile="5"></label>

                                <input type="radio" name="rating" id="rating9" value="4.5" {% if form.initial.rating == 4.5 %}checked{% endif %} required><label for="rating9"
                                    titile="4.5" class="half"></label>
                                <input type="radio" name="rating" id="rating8" value="4" {% if form.initial.rating == 4 %}checked{% endif %} required><label for="rating8"
                                    titile="4"></label>
                                <input type="radio" name="rating" id="rating7" value="3.5" {% if form.initial.rating == 3.5 %}checked{% endif %} required><label for="rating7"
                                    titile="3.5" class="half"></label>

                                <input type="radio" name="rating" id="rating6" value="3"  {% if form.initial.rating == 3 %}checked{% endif %} required><label for="rating6"
                                    titile="3"></label>
                                <input type="radio" name="rating" id="rating5" value="2.5" {% if form.initial.rating == 2.5 %}checked{% endif %} required><label for="rating5"
                                    titile="2.5" class="half"></label>
                                <input type="radio" name="rating" id="rating4" value="2" {% if form.initial.rating == 2 %}checked{% endif %} required><label for="rating4"
                                    titile="2"></label>
                                <input type="radio" name="rating" id="rating3" value="1.5"{% if form.initial.rating == 1.5 %}checked{% endif %} required><label for="rating3"
                                    titile="1.5" class="half"></label>
                                <input type="radio" name="rating" id="rating2" value="1" {% if form.initial.rating == 1 %}checked{% endif %} required><label for="rating2"
                                    titile="1"></label>
                                <input type="radio" name="rating" id="rating1" value="0.5"  {% if form.initial.rating == 0.5 %}checked{% endif %} required><label for="rating1"
                                    titile="0.5" class="half"></label>







                            </div>

                            <!-- end -->
                            <br>
                            Review:
                            <textarea name="review" rows="5" class="form-control"> {{ form.initial.review }}</textarea>
                            <br>
                            {% if user.is_authenticated%}
                            <input type="submit" value="Submit Review" class="btn btn-info">
                            {% else%}
                            <p>You must be logged in to post a review.</p>
                            <span> <a href="{% url 'login'%}" class="btn btn-warning">Login Now</a></span>
                            {%endif%}
                        </div>

                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors%}
                        <p class="alert alert-danger my-3">{{error}}</p>
                        {% endfor%}
                        {%endif%}
                    </form>

                    <br>
                    <header class="section-heading">
                        <h3>Customer Reviews</h3> <span>{{service.CountReview}} Reviews</span>
                        <div class="rating-star">
                            <span>
                                <i class="fa fa-star{% if service.averageReview < 0.5%}-o{%elif service.averageReview >= 0.5 and  service.averageReview < 1 %}-half-o {%endif%}"
                                    aria-hidden="true"></i>
                                <i class="fa fa-star {% if service.averageReview < 1.5%}-o{%elif service.averageReview >= 1.5 and  service.averageReview < 2 %}-half-o {%endif%}"
                                    aria-hidden="true"></i>
                                <i class="fa fa-star {% if service.averageReview < 2.5%}-o{%elif service.averageReview >= 2.5 and  service.averageReview < 3 %}-half-o {%endif%}"
                                    aria-hidden="true"></i>
                                <i class="fa fa-star{% if service.averageReview < 3.5%}-o{%elif service.averageReview >= 3.5 and  service.averageReview < 4 %}-half-o {%endif%}"
                                    aria-hidden="true"></i>
                                <i class="fa fa-star{% if service.averageReview < 4.5%}-o{%elif service.averageReview >= 4.5 and  service.averageReview < 5 %}-half-o {%endif%}"
                                    aria-hidden="true"></i>
                            </span>
                        </div>
                    </header>
                  <br>
                    {% for review in reviews %}
                    <article class="box mb-3 ">
                        <div class="icontext w-100 d-flex">
                            <!-- <img src="{{review.user.profile_image}}" class="img-xs icon rounded-circle"> -->
                            <img src="{% if review.user.profile_image %}{{ review.user.profile_image.url }}{% else %}{% static 'account/media/default/image.jpg' %}{% endif %}"
                                class="img-xs icon rounded-circle  profile-image">

                            <div class="text m-auto ms-5">
                               
                                <p class="date text-muted float-md-right d-flex">{{review.updated_at}}</p>
                                <h6 class="mb-1">{{review.user.username}}</h6>
                            </div>
                        </div>
                        <!-- icontext -->
                                <div class="rating-star">
                                    <span>
                                        <i class="fa fa-star filled{% if review.rating == 0.5 %}-half-o {%elif review.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
                                        <i class="fa fa-star filled{% if review.rating == 1.5 %}-half-o {%elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
                                        <i class="fa fa-star filled{% if review.rating == 2.5 %}-half-o {%elif review.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>

                                        <i class="fa fa-star filled{% if review.rating == 3.5 %}-half-o {%elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>

                                        <i class="fa fa-star filled{% if review.rating == 4.5 %}-half-o {%elif review.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>



                                    </span>
                                </div>
                           
                        
                        <div class="mt-2">

                            <p>{{review.review}}</p>
                        </div>


                    </article>
                    {% endfor %}




                </div>
            </div>
            <!-- row -->





        </div>











    </div>
    <!-- container -->





</section>










{% endblock %}