{% extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block content%}
<style>
    /* .carousel-item {
        height: 800px;  Adjust the height as needed 
    } */

    .carousel-item img {
        object-fit: cover;
        height: 100%;
        width: 100%;



    }
   
    
    
   
    
</style> 

   <!-- Carousel Start -->
<!-- Carousel Start -->
<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="{% static '1.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-flex align-items-center justify-content-center" style="height: 100%;">
                <div class="text-center text-md-start text-lg-center mt-auto mb-auto" style="width: 100%; max-width: 1000px;">
                    <h5 class="text-primary text-uppercase fw-bold fs-2">About Us</h5>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static '2.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-flex align-items-center justify-content-center" style="height: 100%;">
                <div class="text-center text-md-center text-lg-center mt-auto mb-auto" style="width: 100%; max-width: 1000px;">
                    <h5 class="text-primary text-uppercase mb-md-3 fw-bold fs-2">About Us</h5>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

    <!-- Carousel End -->

<!-- about -->
<div class="overflow-container container container-fluid">
    <!-- about -->
    <div class="row mt-3">         
        <div class="col-md-6 d-flex align-items-center">
            <div class="text-center">
                <h1 class="fst-italic">About Us</h1>
                <h2><strong>Tradition of Excellence</strong></h2>
                <p>Home Service has been in operation in San Diego since 1982. We are a family-owned and family-run business, which means customers receive more care than at a franchise or large corporation.
                Our goal is high-quality service and customer satisfaction. This is achieved through our highly qualified professional team of friendly technicians whose main goal is to satisfy your needs.</p>
            </div>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="{% static 'service_technician.jpg'%}" alt="">
        </div>
    </div>
    <!-- end about -->
</div>

<!-- team -->
<!-- Team Start -->

<div class="container py-5">
    <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
        <h1 class="display-6 mb-5">Meet Our Professional Team Members</h1>
    </div>
    <div class="swiffy-slider slider-item-show3 slider-nav-round slider-nav-page">
        <ul class="slider-container">
            <li>
                <div class="card border-0">
                    <div class="ratio ratio-1x1">
                       
                        <img src="{% static 'team-1.jpg'%}" class="card-img-top" loading="lazy" alt="...">
                    </div>
                    <div class="card-body p-0 pt-2">
                        <div class="d-flex">
                            <h3 class="flex-grow-1 h5">Kerinele rase</h3>
                           
                        </div>
                        <p class="card-text">Repair Technician</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="card border-0">
                    <div class="ratio ratio-1x1">
                       
                        <img src="{% static 'team-2.jpg'%}" class="card-img-top" loading="lazy" alt="...">
                    </div>
                    <div class="card-body p-0 pt-2">
                        <div class="d-flex">
                            <h3 class="flex-grow-1 h5">Christean</h3>
                           
                        </div>
                        <p class="card-text">Repair Technician</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="card border-0">
                    <div class="ratio ratio-1x1">
                       
                        <img src="{% static 'team-3.jpg'%}" class="card-img-top" loading="lazy" alt="...">
                    </div>
                    <div class="card-body p-0 pt-2">
                        <div class="d-flex">
                            <h3 class="flex-grow-1 h5">Fahim</h3>
                           
                        </div>
                        <p class="card-text">Construction Laborer</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="card border-0">
                    <div class="ratio ratio-1x1">
                       
                        <img src="{% static 'team-4.jpg'%}" class="card-img-top" loading="lazy" alt="...">
                    </div>
                    <div class="card-body p-0 pt-2">
                        <div class="d-flex">
                            <h3 class="flex-grow-1 h5">Morshed</h3>
                           
                        </div>
                        <p class="card-text">Construction Laborer</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="card border-0">
                    <div class="ratio ratio-1x1">
                       
                        <img src="{% static 'team_1.jpg'%}" class="card-img-top" loading="lazy" alt="...">
                    </div>
                    <div class="card-body p-0 pt-2">
                        <div class="d-flex">
                            <h3 class="flex-grow-1 h5">Morshed</h3>
                           
                        </div>
                        <p class="card-text">Cleaner</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="card border-0">
                    <div class="ratio ratio-1x1">
                       
                        <img src="{% static 'team-5.jpg'%}" class="card-img-top" loading="lazy" alt="...">
                    </div>
                    <div class="card-body p-0 pt-2">
                        <div class="d-flex">
                            <h3 class="flex-grow-1 h5">Sabbir</h3>
                           
                        </div>
                        <p class="card-text">Technician</p>
                    </div>
                </div>
            </li>
        </ul>
    
        <button type="button" class="slider-nav" aria-label="Go left"></button>
        <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
    </div>
   
</div>

<!-- Team End -->

{% endblock %}