{% extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}
<style>
    /* .carousel-item {
        height: 800px;  Adjust the height as needed 
    } */

    .carousel-item img {
        object-fit: cover;
        height: 100%;
        width: 100%;



    }
    .form-control {
    border-radius: 6px;
}

  
</style> 
<!-- custom css -->
<link rel="stylesheet" href="{% static 'contact.css' %}"/>   
{% block content%}

<!-- Carousel Start -->
<div class="bgImage">
    <img style="width:100%; height:100vh;background-size: cover; background-repeat: no-repeat;background-position: center bottom; opacity: 0.4;"
        src="{% static 'img1.png'%}">
        <div class="content">

            <h5 class="text-dark text-uppercase fw-bold fs-2">Contact Us</h5>
        </div>
</div>



    <!-- Carousel End -->

    <!-- <h2 class="text-center mt-3">Contact Us</h2> -->
    
            <div class="col-lg-6 m-5">
                <h5 class="text-secondary font-weight-semi-bold text-uppercase mb-3 mt-3">Contact Us</h5>
               
                <h1 class="section-title mb-3" style="font-size: calc(1.375rem + 1.5vw);">If You Have Any Query, Please Contact Us</h1>
            </div>
            
            <form method="POST" class="w-75 mx-auto m-5"  enctype="multipart/form-data" novalidate >
                {% csrf_token %}
            
                <!-- {{form | crispy }}  -->
            
                   
                {% for fm in form %}
            
                 {{fm.label_tag}}
                 {{fm}}
                 {{fm.errors | striptags}}
            
                 {% endfor %}
                 <div>
                <button class="btn btn-warning mb-3 mt-2">Submit</button>
            </div>
            </form>
            
            



{% endblock %}    